@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Monoton&family=Spinnaker&family=Fira+Code:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-spinnaker: "Spinnaker", sans-serif;
  --font-fira: "Fira Code", monospace;
  --color-background: #050505;
  --color-accent: #00ff66; /* hacker-green */
  --color-accent-cyan: #0CAFFF; /* cyan variant */
}

@layer base {

  :root {
    background-color: var(--color-background);
    color: #f3f4f6; /* off-white text */
  }

  body {
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-spinnaker);
    
    /* Removed CSS background injection here to achieve strict DOM layering. Look inside App.tsx for the exact overlay map! */
  }
}

/* Base styles for Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
